//mixins
//responsive
$mobile: 512px;
$tablet: 1024px;
$laptop: 1366px;
@mixin mobile {
    @media (min-width: 0px) and (max-width: #{$mobile}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: 0px) and (max-width: #{$tablet}) {
        @content;
    }
}
@mixin laptop {
    @media (min-width: 0px) and (max-width: #{$laptop}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$laptop + 1px}) {
        @content;
    }
}
@mixin max ($width) {
    @media (max-width: #{$width}) {
        @content;
    }
}

//fonts
@mixin fontXXL {
  &, *{
    font-family: $primary-font;
    font-weight: 400;
    color: $primary;
    font-size: $font-xxl;
    line-height: 85%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}
@mixin fontXL {
    &, *{
    font-family: $primary-font;
    // font-weight: $ExtraLight;
    color: $primary;
    font-size: $font-xl;
    font-weight: 300;
    line-height: 105%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
@mixin fontL {

}
@mixin fontM {
  font-family: $primary-font;
  // font-weight: $ExtraLight;
  color: $white;
  font-size: $font-m;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin fontSM {
  font-family: $primary-font;
  // font-weight: $ExtraLight;
  color: $white;
  font-size: $font-sm;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin fontXS {
  font-family: $primary-font;
  // font-weight: $ExtraLight;
  color: $primary;
  font-size: $font-xs;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin fontXXS{
  font-family: $secondary-font;
  // font-weight: $ExtraLight;
  color: $primary;
  font-size: $font-xxs;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
