// COLORS
$gray-light: rgba(255,255,255,0.10);
$primary: #f85b3f;
$white: #ffffff;
$gray: #121212;
$gray-dark: #2b2b2b;
$black: #0a0a0a;
//
$color-line: $gray-dark;
$color-background: $gray;

//FONT SIZES
$font-xxl: 13vw;
$font-xl: 8vw;
$font-l: 40px;
$font-m: 30px;
$font-sm: 20px;
$font-xs: 16px;
$font-xxs: 14px;

//FONTS
$primary-font: 'Slabo 27px', serif;
$secondary-font: 'Lato', serif;
