<span class="block-revealer">
  <span class="block-revealer__child block-revealer__inner block-revealer">
    <span class="block-revealer__content block-revealer--hidden" style="">
          {{txt}}
  </span><span class="block-revealer__element"></span></span>
</span>
