.contact{
  margin-top: 120px;
  position: relative;
  z-index: 2;

  .wrapper{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
  }
  &-block{
    text-align: center;
    margin-bottom: 40px;

    p{
      @include fontXS($primary);
      margin-bottom: 10px;
    }
    a{
      @include fontM;
    }

    // &:last-of-type{
    //   a{
    //     &:not(:last-child){
    //       @include max(640px){
    //         margin: 0 auto;
    //                   margin-bottom: 12px;
    //       }
    //     }
    //     @include max(640px){
    //       display: table;
    //       margin: 0 auto;
    //
    //     }
    //   }
    // }
  }
  &__mail{
    display: inline-block;
    margin-bottom: 35px;
  }
  &__phone{
    display: inline-block;
    margin-bottom: 7px;
  }
}
