.footer{
  position: relative;
  height: 50px;
  background: $color-background;
  border-top: 1px solid $color-line;
  line-height: 50px;
  z-index: 2;
  >p{
    @include fontXXS($white);
    text-align: center;
  }
}
