$full: calc(100% - 100px); //calculations for 100% height and width
$line-width: 70%;
$line-width-mobile: 10%;

$animation-speed: .6s;
$background: '../images/bg_intro.jpg';

// Backgrounds
#fox{
  	// background: url('http://wallpapercave.com/wp/8zKSoW4.jpg') no-repeat center center fixed;
    // background-size: cover;
}

.hero {
  background: url('../images/bg_intro.jpg') no-repeat center center fixed;
  background-size: cover;
    height: 100vh;
    width: 100%;
    font-size: 0;
    overflow: hidden;
    * {
        font-size: 16px;
    }

    &-center,
    &-left,
    &-right {
        display: inline-block;
        vertical-align: top;
    }

    &-left,
    &-right {
        width: 100%;
        max-width: 50px;
        position: relative;
        height: $full;
        *{
          color: $primary;
          margin-right: 10px;
        }
        > * {
            position: absolute;
            display: inline-block;
            top: 0;
            margin: auto;
            max-height: 50px;
            height: 100%;
            transform: rotate(-90deg);
            transform-origin: top left;
            height: 20px;
            left: 17px;
            width: 320px;
            bottom: -103px;
        }
    }

    /* ======  */
    &-left {
      *{
        @include fontXXS;
      }
    }

    &-center {
        width: $full;
        height: $full;
        position: relative;
        article{
          padding-top: 10vh;
          padding-left: 7%;

          @include max(768px){
            padding-top: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
          }
          h1, h1>* {
              @include fontXXL;
              b{
                font-weight: 700;
              }
          }

          .hero__subtitle {
            @include fontSM;
            color: $white;
            position: relative;
            display: inline-block;
            padding-right: 20px;
            margin-top: 10px;
            z-index: 1;


            &:after, &:before{

              animation: fadeIn 2s 2.5s;
              animation-fill-mode: forwards;
              // display: none !important;
            }
            &:after{
              content: '';
              top: inherit;
              position: absolute;
              display: block;
              background: $primary;
              height: 1px;
              left: 100%;
              top: 50%;
              transform: translateY(-50%);
              width: 0;
              animation: widthAnim 2.5s 2s;
              animation-fill-mode: forwards;
            }
            &:before{
              content: '';
              opacity: 0;
              position: absolute;
              display: block;
              background-color: $primary;
              width: 1px;
              height: 100%;
              left: $line-width + 100;
              top: 0;
              // animation: heightAnim 2s 3s;
              // animation-fill-mode: forwards;
              @include max(768px){
                left: $line-width-mobile + 100;
              }
            }
          }
        }


        .hero-discover{
          @include fontSM;
          position: absolute;
          margin-bottom: 1.5%;
          width: 100%;
          left: 50%;
          transform: translateX(-50%);
          display: inline-block;
          text-align: center;
          bottom: 10px;
          color: $gray-light;
          color: $white;
          opacity: 1;

        }
    }

    &-right {
      position: absolute;
      right: 0;
      overflow: hidden;
      top: 11%;
        *{
          @include fontXXS;
          bottom: -138px;
            display: inline-block;
        }
        .hero-social {

            > * {

            }
        }
    }

    &-bottom {
      border-top: 1px solid $color-line;
        height: 50px;
        display: block;
        width: 100%;
        position: relative;
        border-bottom: 1px solid $primary;

        &:after{
          content: '';
          position: absolute;
          display: block;
          height: 50px;
          width: 1px;
          background-color: $primary;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
    }

    &-title{
      margin-bottom: 20px;
      *{
        @include fontXXL;
      }

    }

}

// PROJECT
.hero--project{
  position: relative;
  .hero-center{
    background: rgba(0,0,0,.3);
    max-width: 90%;
    // width: 35%;
    position: relative;
    // animation: heroWidth .75s .5s ease-in-out;
    // animation-fill-mode: forwards;
    @include max(768px){
      width: $full;
      height: 30%;
    }


    &:before{
      content: '';
      position: absolute;
      display: block;
      height: 100px;
      width: 1px;
      background: $primary;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      @include max(768px){
        right: 0;
        width: 50px;
        height: 1px;
        top: 40%;
        left: -30px;
      }
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      background: $primary;
      width: 50px;
      height: 2px;
      left: 50%;
      transform: translateX(-50%);
      bottom: 50px;
      @include max(768px){
        right: 0;
        width: 2px;
        height: 50px;
        top: 30%;
        left: -4px;
        opacity: 0;
        animation: fadeIn 2s 2s;
        animation-fill-mode: forwards;
      }
    }

    article{
      position: absolute;
      right: 80px;
      bottom: 50px + 80px;
      @include max(768px){
        width: 100%;
        right: auto;
        bottom: auto;
      }
    }
  }

  .hero-title{
      @include fontXL;
      transform: rotate(-90deg);
      bottom: 0;
      height: 100%;
      width: 100%;
      @include max(768px){
        transform: rotate(0);
        width: 100%;
      }
  }
  .hero-discover{
    display: none;
  }

  .hero-image{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100px;
    z-index: 2;
  }

  .hero__subtitle {
    &:after, &:before{
      display: none !important;
    }
  }

}


// Animations
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes widthAnim{
  0%{
    width: 0;
    background: darken(#908AE8, 10%);
  }
  100%{
    width: $line-width;
    background: $primary;
  }
}
// 
// @keyframes heroWidth{
//   0%{
//     width: 92%;
//   }
//   100%{
//     width: 35%;
//   }
// }
//
// @include max(768px){
//   @keyframes heroWidth{
//     0%{
//       height: 90%;
//     }
//     100%{
//       height: 35%;
//     }
//   }
// }
@keyframes heightAnim{
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}

@include max(768px){
  @keyframes widthAnim{
    0%{
      width: 0;
    }
    100%{
      width: $line-width-mobile;
    }
  }
}
