.info{
  position: relative;
  max-width: 700px;
  width: 100%;
  background: $color-background;
  margin: 0 auto;
  box-shadow: 0 0px 10px rgba(0,0,0,0.5);
  // min-height: 400px;
  height: auto;
  z-index: 2;
  margin-top: 120px;
  padding: 40px;
  >article{
    border: 1px solid $primary;
    padding: 40px 12%;
    position: relative;
    text-align: center;
    @include tablet{
      // $distance: 10%;
      // padding: 40px 5%;
      // position: absolute;
      // top: $distance;
      // bottom: $distance;
      // left: $distance;
      // right: $distance;
      // margin: auto;
    }
    p{
      @include fontXL;
      color: $white;
      &:before{
        content: '“';
      }
      &:after{
        content: '”';
      }
    }
    >a{
      display: block;
      width: 50px;
      height: 50px;
      background: $color-background;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -22px;
      text-align: center;
      padding-top: 14px;
      color: $white;
    }
  }
}
