.menu {
    position: relative;
    min-height: 50px;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid $color-line;
    width: 100%;

    .logo,
    .menu-btn {
        position: absolute;
        width: 50px;
        height: 50px;
        text-align: center;
    }

    .menu-btn {
        // left: 0;
    }

    .logo {
        left: 0;
    }

    &__icon {
        cursor: pointer;
        transform: translate3d(0, 0, 0);
        z-index: 2;
        >*{
          height: 50px;
          width: 50px;
        }
        path {
            fill: none;
            transition: stroke-dashoffset 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke-dasharray 0.5s cubic-bezier(0.25, -0.25, 0.75, 1.25), stroke .35s;
            stroke-width: 40px;
            stroke-linecap: round;
            stroke: $white;
            stroke-dashoffset: 0;
        }

        .menu__bottom,
        .menu__top {
            stroke-dasharray: 240px 950px;
        }

        .menu__middle {
            stroke-dasharray: 240px 240px;
        }

        .cross .menu__bottom,
        .cross .menu__top {
          // stroke: firebrick;
            stroke-dashoffset: -650px;
            stroke-dashoffset: -650px;
        }

        .cross .menu__middle {
          // stroke: firebrick;
            stroke-dashoffset: -115px;
            stroke-dasharray: 1px 220px;
        }
    }
}

.fish-svg{
  .fish-svg-wrapper{
    position: relative;
    max-width: .55em;
    fill: $white;
    display: block;
    text-align: center;
    margin: 0 auto;
    transform: rotate(-30deg);
    padding-top: 5px;
    transition: fill .45s;
  }
  &:hover .fish-svg-wrapper{
    fill: $primary;
  }
}
