$line-height: 80px;
.projects{
  position: relative;
  background-color: $color-background;
  padding-bottom: 90px;
  width: 100%;
  &:before{
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    background-color: $color-line;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    z-index: 0;
  }
  .line{
    &:before{
      content: '';
      position: absolute;
      display: block;
      height: $line-height;
      width: 1px;
      background-color: $primary;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
    }
    &:after{
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      width: 30px;
      background-color: $primary;
      left: 0;
      right: 0;
      top: $line-height;
      margin: auto;
    }
  }

  > .projects__article{
    position: relative;
    max-width: 80%;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 100px 50px;
    padding-bottom: 0px;
    z-index: 2;
    @include mobile{
      max-width: 100%;
    }
    .projects__title{
      @include fontXXL;
      color: $white;
      text-align: center;
      line-height: 91%;
      span{
        // font-size: $font-xxl;
      }
    }
    .projects__title--small{
      @include fontXL($white);
    }
  }

  .list{
    display: block;
    position: relative;
    max-width: 65%;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    @include tablet{
      max-width: 570px;
    }
  }
}
