.project-name{
  position: relative;
  font-size: 0;
  border: 1px solid $gray-light;
  background-color: $color-background;
  opacity: 1;
  transform: translateY(80px);
  transition: all 1.5s cubic-bezier(0,1.12,.73,1.01) .5s;

  &:not(:first-child){
    border-top: none;
  }

  a{
    display: block;
    width: 100%;
    z-index: 2;

    .action{
          transition: all 2s;
    }
    &:hover{

      .action{
        color: blue;
      }
    }
  }

  .pn-wrapper{
    *{
      vertical-align: middle;
    }

    @include mobile{
      padding: 0 20px;
    }
    span{
      height: 100%;
      font-size: $font-xl;
      width: 20%;
      display: inline-block;
      line-height: 120px;
      text-align: center;
      background-color: $black;
      color: $color-background;
      @include mobile{
        display: none;
      }
    }
    .content{

      width: 60%;
      display: inline-block;
      padding-left: 5%;
      @include mobile{
        width: 80%;
      }
      h1,p{
        display: block;
      }
      h1{
        @include fontM;

      }
      p{
        @include fontXXS;
      }
    }

    .action{
      @include fontM;
      width: 20%;
      display: inline-block;
      text-align: center;
      background-color: transparent;
      color: $primary;
    }
  }


  // Backgrounds
  &:nth-child(1):hover{
    background: url('http://cdn3-www.dogtime.com/assets/uploads/gallery/30-impossibly-cute-puppies/impossibly-cute-puppy-21.jpg');
  }

}
