<section class="contact">
<div class="wrapper">
  <div class="contact-block">
    <p>Fale connosco</p>
    <a href="#" class="--hover-slash">email@email.com</a>
  </div>

  <div class="contact-block">
    <p>Social</p>
    <div class="contact-social">
      <a href="#" class="--hover-slash">Facebook</a>
      <a href="#" class="--hover-slash">Linkedin</a>
      <a href="#" class="--hover-slash">Behance</a>
    </div>
  </div>
</div>
</section>
