<section class="contact">
<div class="wrapper">
  <div class="contact-block">
    <p>{{> animation/wordSlide txt='Fale connosco'}}</p>
    <a href="#" class="contact__mail --hover-slash">{{> animation/wordSlide txt='email@email.com'}}</a>
    <p>{{> animation/wordSlide txt='Telefone'}}</p>
    <a class="contact__phone --hover-slash" href="#" >{{> animation/wordSlide txt='+351 925 595 027'}}</a>
    <br />
    <a href="#" class="contact__phone --hover-slash">{{> animation/wordSlide txt='+351 925 595 027'}} <br/></a>
  </div>

  <!-- <div class="contact-block">
    <p>Social</p>
    <div class="contact-social">
      <a href="#" class="--hover-slash">Facebook</a>
      <a href="#" class="--hover-slash">Linkedin</a>
      <a href="#" class="--hover-slash">Behance</a>
    </div>
  </div> -->
</div>
</section>
