

    <footer class="footer">
      <p>Coded with lots of ❤️ by Studio Tagus</p>
    </footer>

    </main>
    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/anime.js"></script>
    <script src="js/libs/helpers.js"></script>
    <script src="https://cdn.rawgit.com/stutrek/scrollMonitor/19b8820d/scrollMonitor.js"></script>
    <script>
      $( window ).on( "load", function(){
        var loader = $('.loader');
        loader.addClass('loader--hidden');
        $.getScript("js/bundle.js");
        loader.bind("transitionend webkitTransitionEnd oTransitionEnd MSTransitionEnd", function(){
                  $(this).remove();
        });

      });
    </script>
    <!-- <script src="js/bundle.js"></script> -->
  </body>
</html>
