    </main>

    <footer class="footer">
      <p>Coded with <3 by Studio Tagus</p>
    </footer>


    <script src="js/libs/jquery.min.js"></script>
    <script src="js/libs/anime.js"></script>
    <script src="js/libs/helpers.js"></script>
    <script src="https://cdn.rawgit.com/stutrek/scrollMonitor/19b8820d/scrollMonitor.js"></script>
    <script src="js/bundle.js"></script>
  </body>
</html>
