
<section class="hero">
  {{> menu}}

  <div class="hero-left">
    <div class="hero-about">
      <a href="#">Sobre nós!</a>
    </div>
  </div>
  <div class="hero-center">
    <article>
      <h1><span class="word">Studio</span><br><b><span class="word">Tagus</span></b></h1>
      <span class="hero__subtitle">web development</span>
    </article>
    <a href="#" class="hero-discover --hover-slash word">Veja nossos trabalhos ↓</a>
  </div>
  <div class="hero-right">
    <div class="hero-social">
      <a href="#">Facebook</a>
      <a href="#">Linkedin</a>
      <a href="#">Behance</a>
    </div>
  </div>
  <div class="hero-bottom">

  </div>
</section>
