<section id="{{id}}" class="hero {{class}}">
  {{> menu}}

  <div class="hero-left">
    <div class="hero-about">
      <a href="#">Sobre nós!</a>
    </div>
  </div>
  <div class="hero-center">
      <!-- Content for the main page -->
    <!-- {{#ifCond type value="main" }}
        {{/ifCond}} -->
      <article>
        <h2 class="hero-title">
        <span>
          {{> animation/wordSlide txt=title1}}
        </span>
        <br>
        <span>
          {{> animation/wordSlide txt=title2}}
        </span>
      </h2>


        <h3 class="hero__subtitle">{{> animation/wordSlide txt=subtitle}}</h3>
      </article>
      <span class="hero-discover">
      <a href="#" class="--hover-slash">
        {{> animation/wordSlide txt='Veja nossos trabalhos ↓'}}

      </a>
    </span>


  </div>

  <div class="hero-right">
    <div class="hero-social">
      <a href="#">Facebook</a>
      <a href="#">Linkedin</a>
      <a href="#">Behance</a>
    </div>
  </div>
  <div class="hero-bottom">

  </div>


  {{#ifCond class value="hero--project" }}
    <figure class="hero-image">
      <img src="http://www.moj-dino.si/image/cache/catalog/dino/puppy-200x200.png" alt="">
    </figure>
  {{/ifCond}}
</section>
