<section class="layout">
  <div class="wrapper">
    <span class="layout__titleWrapper">
      <h1 class="layout__title">{{> animation/wordSlide txt='Layout'}}</h1>
    </span>
    <figure class="layout__image layout__image--left"><img src="{{image-left}}" alt=""></figure>

  <figure class="layout__image layout__image--right"><img src="{{image-right}}" alt=""></figure>

  {{> atoms/topButton}}
  </div>

</section>
