<section class="layout">
  <div class="wrapper">
    <span class="layout__titleWrapper">
      <h1 class="layout__title">{{> animation/wordSlide txt='Layout'}}</h1>
    </span>
    <figure class="layout__image layout__image--left"><img src="https://s-media-cache-ak0.pinimg.com/originals/12/88/8a/12888ac360237124ed6663638cbfae2e.jpg" alt=""></figure>

  <figure class="layout__image layout__image--right"><img src="https://s-media-cache-ak0.pinimg.com/originals/12/88/8a/12888ac360237124ed6663638cbfae2e.jpg" alt=""></figure>

  {{> atoms/topButton}}
  </div>

</section>
