<header class="menu">
    <a href="#" class="menu-btn">
      <i></i>
      <span>menu</span>
    </a>
    <a href="#" class="logo">
      <img src="" alt="">
      <span>logo</span>
    </a>
</header>
