<section class="projects">
  <span class="line"></span>
  <article class="projects__article">
      <h2 class="projects__title">
        <span class="projects__title--small">{{> animation/wordSlide txt='Trabalhos &'}}</span> <br>
      {{> animation/wordSlide txt='Projetos'}}
      </h2>
  </article>

  <div class="list">
    {{> projectName name='this is a name' info='Lorem ipsum dolor sit amet.'}}
    {{> projectName name='second project' info='Lorem ipsum dolor sit amet.'}}
    {{> projectName name='third one' info='Lorem ipsum dolor sit amet.'}}
    {{> projectName name='fourth' info='Lorem ipsum dolor sit amet.'}}
  </div>

  {{> info}}
  {{> contact}}
  {{> atoms/topButton}}
</section>
