<article class="project-name">
    <a href="{{link}}">
        <div class="pn-wrapper">
            <span>{{letter}}</span>
            <div class="content">
                <h1>{{name}}</h1>
                <p>{{info}}</p>
            </div>
            <span  class="action"><i class="icon-right-arrow"></i></span>
        </div>
    </a>
</article>
