<section class="projects" id="projects">
  <span class="line"></span>
  <article class="projects__article">
      <h2 class="projects__title">
        <span class="projects__title--small">{{> animation/wordSlide txt='Trabalhos &'}}</span> <br>
      {{> animation/wordSlide txt='Projetos'}}
      </h2>
  </article>

  <div class="list">
    {{> projectName letter='F' name='Fox Life' info='Desenvolvimento & Design' link='http://studiotagus.com/fox-life.html'}}
    {{> projectName letter='M' name='Megalancers' info='Desenvolvimento' link='http://studiotagus.com/megalancers.html'}}
    {{> projectName letter='M' name='Meal Masters' info='Desenvolvimento & Design' link='http://studiotagus.com/meal-masters.html'}}
    {{> projectName letter='A' name='Arval Printing Machinery' info='Desenvolvimento & Design' link='http://studiotagus.com/arval.html'}}
  </div>

  {{> info title='Está a um clique de transformar seus sonhos em realidade.' action=''}}
  {{> contact}}
  {{> atoms/topButton}}
</section>
