<section class="projects">
  <span class="line"></span>
  <article>
    <h2>Trabalhos & <span>Projetos</span></h2>
  </article>

  <div class="list">
    {{> projectName name='this is a name' info='Lorem ipsum dolor sit amet.'}}
    {{> projectName name='second project' info='Lorem ipsum dolor sit amet.'}}
    {{> projectName name='third one' info='Lorem ipsum dolor sit amet.'}}
    {{> projectName name='fourth' info='Lorem ipsum dolor sit amet.'}}|
  </div>

  {{> info}}
</section>
