<article class="project-name">
    <a href="#">
        <div class="pn-wrapper">
            <span>A</span>
            <div class="content">
                <h1>{{name}}</h1>
                <p>{{info}}</p>
            </div>
            <span href="#" class="action">></span>
        </div>
    </a>
</article>
