<section class="seeMore">
  <a href="{{prev-link}}" class="seeMore__prev seeMore--fox-life">
    <i class="icon-left-arrow"></i>{{prev}}
  </a>

  <a href="{{next-link}}" class="seeMore__next seeMore--fox-life">
      {{next}}<i class="icon-right-arrow"></i>
  </a>

</section>
