<section class="seeMore">
  <a href="#" class="seeMore__prev" style="background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('http://studiotagus.com/images/foxlife.jpg');">
    <i class="icon-left-arrow"></i>{{prev}}
  </a>

  <a href="#" class="seeMore__next">
      {{next}}<i class="icon-right-arrow"></i>
  </a>

</section>
