<section class="seeMore">
  <a href="#" class="seeMore__prev">
    <i class="icon-left-arrow"></i>{{prev}}
  </a>

  <a href="#" class="seeMore__next">
      {{next}}<i class="icon-right-arrow"></i>
  </a>

</section>
