<section class="seeMore">
  <a href="#" class="seeMore__prev">
    <article>
      <p><i class="icon-left-arrow"></i>{{prev}}</p>
    </article>
  </a>

  <a href="#" class="seeMore__next">
    <article>
      <p>{{next}}<i class="icon-right-arrow"></i></p>
    </article>
  </a>

</section>
