<section class="workInfo">
<div class="wrapper">
  <article class="workInfo__role">
<div class="workInfo__inner">
  <h1>Agency</h1>
  <h2>{{project}}</h2>
</div>
  </article>

  <article class="workInfo__role">
<div class="workInfo__inner">
  <h1>Role</h1>
  <h2>{{role}}</h2>
</div>
  </article>

  <article class="workInfo__role">
<div class="workInfo__inner">
  <h1>Date</h1>
  <h2>{{date}}</h2>
</div>
  </article>

  <article class="workInfo__role">
<div class="workInfo__inner">
  <h1>Link</h1>
  <h2><a href="#" class="--hover-slash">{{link}}</a></h2>
</div>
  </article>
</div>

{{> info class="info--project info--disclaimer" title='Lorem ipsum dolor sit.' subtitle='Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia nihil perspiciatis ipsam consequatur nesciunt neque nulla omnis voluptatum id, molestias reprehenderit, quo ullam mollitia provident cumque magnam cum quos blanditiis illum iusto similique quibusdam error iste iure. Ipsum, explicabo praesentium?'}}

</section>
