$top-btn-size: 80px;

.top-button{

  display: block;
  position: relative;
  z-index: 2;
  line-height: $top-btn-size;
  height: $top-btn-size;
  margin: 0 auto;
  color: white;
  text-align: center;
  overflow: hidden;
  width: 100%;
  >a{
    @extend .--float;
    @include fontM;

    position: relative;
    color: $primary;
    left: 1px;
    display: block;
    border-radius: inherit;
    max-width: $top-btn-size;
    border: 1px solid $gray-dark;
      border-radius: 50%;
        background-color: $black;
        margin: 0 auto;
  }

  .top-button__icon{

      position: relative;
      display: inline-block;
  }
}
