.sliding {
  position: relative;
  display:inline-block;
  left: 0;
  overflow:hidden;
  transition: left .4s ease-in-out .5s;
  &:after {
    content: "";
    width: 300%;
    height: 100%;
    background-color: firebrick;
    display: inline-block;
    position: absolute;
    left: 100%;
    transition: left 1s ease-in-out .5s;
    z-index: 1;
  }
  &.hidden {
    left: -105%;
    display: inline;
    &:after {
      left: -200%;
    }
  }
}

//Underscore on hover
.--hover-slash{
  position: relative;
  &:after{
    content: '';
    position: absolute;
    display: block;
    width: 0;
    left: 0;
    transition: all .5s ease-out;
    height: 2px;
    background: firebrick;
    bottom: -2px;
  }
  &:hover{
    &:after{
      width: 100%;
    }
  }
}

//Infinite floating
.--float{
  &:hover{
    a{
      animation: floating .7s infinite;
    }
  }

  @keyframes floating{
      0%{
        transform: translateY(0px);
      }
      50%{
        transform: translateY(-7px);
      }
      100%{
        transform: translateY(0px);
      }
    }

}
